body {
    background: #f0f0DA;
}

h1 {
    text-decoration: none;
    text-align: right;
    margin-bottom: 5%;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: #54638C;
}

h1 a {
    text-decoration: none;
    color: #54638C;
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#random_player {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    margin-top: 50px;
    padding: 5px;
}

#random_player_button {
    padding: 10px 20px;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    
}

#random_player_button:hover {
    background-color: rgb(133, 148, 133);
}

#random_player p {
    color: #54638C;
    display: inline-block;
}

#random_player img {
    margin: 10px;
}
