<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>markzarroli</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <main>
        <h1>mark zarroli</h1>
        
        <div class = "sidebar">
            <ul>
              <li><a href="{{ url_for('contact') }}">contact</a></li>
              <li><a href="{{ url_for('about') }}">about</a></li>
              <li><a href="#">more</a></li>
            </ul>
        </div>

        <h2>things</h2>
        <div class="projects">
          <a href="{{ url_for('nba_page') }}">nba api testing</a>
        </div>

        <div class = "footer">
            <p>markzarroli - 2024</p>
        </div>
    </main>

  </body>
</html>