<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>random players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nba_style.css') }}">
    <!-- <link rel="stylesheet" href="/static/css/nba_style.css"> -->
  </head>
  <body>
        <main>
          <h1><a href="{{ url_for('index') }}">mark zarroli</a></h1>
          <h2>your random nba player is...</h2>
          
          <div id="random_player">

            <p id="player_name"></p>
            <img src="" alt="Player Image" id="player_image" style="width: 200px; height: auto; display: none;">
            <button id="random_player_button">show me a player</button>
            

          </div>

          <script src="{{ url_for('static', filename='js/nba_script.js') }}"></script>

          

        </main>
  </body>
</html>